body{
    background-image: url('OIP.jpg');
    margin: 0;
    padding: 0;
}

.blur{
    position: absolute;
    backdrop-filter: blur(13px);
    width: 100%;
    height: 100%;
    z-index: -99999;
}

.logo{
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo > svg{
    height: 30px;
}

.si{
    border-radius: 30px;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.si > input{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 6px;
    width: 70%;
}

.si hr{
    width: 70%;
    color: cornflowerblue;
    margin: 25px 0;
}

.si button{
    width: 70%;
    background-color: rgb(42, 42, 42);
    color: white;
    border-radius: 10px;
    padding: 10px 0;
}

.ket{
    width: 600px;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ket h1{
    font-family: monospace;
    color: white;
}

.ket button{
    width: 70%;
    font-weight: 700;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 0;
}